{
  "singleQuote": true,
  "plugins": ["prettier-plugin-rics"],
  "overrides": [
    {
      "files": "*.rics",
      "options": {
        "parser": "rics"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    }
  ]
}
