/* ========================== ANIMATIONS ========================== */
ytmusic-app-layout[player-page-open][is-mweb-player-bar-modernization-enabled]
  > [slot='player-page'] {
  animation: open-playerpage var(--player-page-duration)
    var(--player-page-timing);
}

ytmusic-app-layout:not(
    [player-page-open]
  )[is-mweb-player-bar-modernization-enabled]
  > [slot='player-page'] {
  animation: collapse-playerpage var(--player-page-duration)
    var(--player-page-timing);
}

ytmusic-player-page[mini-player-enabled][player-page-open]
  #player.ytmusic-player-page {
  animation: mp-grow 0.75s cubic-bezier(0.3, 0.6, 0.5, 1);
}

ytmusic-player-page[mini-player-enabled]:not([player-page-open])
  #player.ytmusic-player-page {
  animation: mp-shrink 1s cubic-bezier(0.5, 0.6, 0.5, 1);
}

@keyframes open-playerpage {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes collapse-playerpage {
  0% {
    transform: translateY(0);
  }
  38% {
    opacity: 1;
  }
  100% {
    transform: translateY(120vh);
    opacity: 0;
  }
}
@keyframes mp-grow {
  0% {
    transform: translate3d(60%, 0, 0) scale(0.2);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}
@keyframes mp-shrink {
  0% {
    transform: scale(1.7);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

ytmusic-player-page[is-mweb-modernization-enabled]:not([player-fullscreened])
  #player.ytmusic-player-page {
  transition: transform 0.65s var(--player-page-timing);
}

ytmusic-player-page[is-mweb-modernization-enabled][transition-mode]
  #side-panel {
  transition: transform 0.65s var(--player-page-timing);
}

ytmusic-player-page[player-page-ui-state='TABS_VIEW'] #thumbnail > img {
  transition: border-radius 0.3s ease-out;
}

ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state='TABS_VIEW']
  #music-player-wrapper {
  transition: transform 0.3s ease-in-out;
}

ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state='TABS_VIEW']
  .av,
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state='TABS_VIEW']
  #info-panel,
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state='TABS_VIEW']
  #player-controls,
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state='TABS_VIEW']
  .collapse-button,
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state='TABS_VIEW']
  .context-menu-button {
  transform: translateY(var(--ytmusic-player-page-player-bar-height));
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
  will-change: opacity, transform;
}

ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state='FULL_PLAYER_VIEW']
  .av,
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state='FULL_PLAYER_VIEW']
  #info-panel,
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state='FULL_PLAYER_VIEW']
  #player-controls,
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state='FULL_PLAYER_VIEW']
  .collapse-button,
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state='FULL_PLAYER_VIEW']
  .context-menu-button {
  transition:
    opacity 0.3s ease-in,
    transform 0.3s ease-in;
}

/* CTA */
a.yt-simple-endpoint.yt-formatted-string {
  transition: color var(--fade-duration) var(--fade-timing);
}

/* BIG SONG LIST */
ytmusic-play-button-renderer .content-wrapper.ytmusic-play-button-renderer {
  transition: background var(--fade-duration) var(--fade-timing);
}

ytmusic-background-overlay-renderer {
  transition: opacity var(--fade-duration) var(--fade-timing);
}

ytmusic-menu-renderer {
  transition: opacity var(--fade-duration) var(--fade-timing);
}

/* SMALL SONG LIST */
ytmusic-item-thumbnail-overlay-renderer {
  transition: opacity var(--fade-duration) var(--fade-timing);
}

ytmusic-responsive-list-item-renderer[play-button-state] {
  transition: background var(--fade-duration-alt) var(--fade-timing);
}

/* 3 Dots */
ytmusic-responsive-list-item-renderer > ytmusic-menu-renderer {
  opacity: 0;
  transition: opacity var(--fade-duration) var(--fade-timing);
}

ytmusic-responsive-list-item-renderer:hover > ytmusic-menu-renderer {
  opacity: 1;
}

/* Play Buttons */
ytmusic-responsive-list-item-renderer .content-wrapper .yt-icon-shape {
  transition: color var(--fade-duration) var(--fade-timing);
}

yt-checkbox-renderer {
  transition: opacity var(--fade-duration) var(--fade-timing);
}

/* NAV BAR */
.ytmusic-guide-entry-renderer {
  transition:
    background var(--fade-duration) var(--fade-timing),
    opacity var(--fade-duration) var(--fade-timing);
}

yt-icon-button.ytmusic-nav-bar {
  transition: background var(--fade-duration) var(--fade-timing);
}

#tabs.ytmusic-tabbed-search-results-renderer {
  transition:
    background var(--fade-duration) var(--fade-timing),
    backdrop-filter var(--fade-duration) var(--fade-timing);
}

/* When Scrolled */
ytmusic-tabs.stuck {
  transition:
    background var(--fade-duration) var(--fade-timing),
    backdrop-filter var(--fade-duration) var(--fade-timing);
}

/* PLAYER BAR */
ytmusic-player-bar.ytmusic-app {
  transition:
    background var(--fade-duration) var(--fade-timing),
    bottom 0.5s;
}

ytmusic-player-bar yt-icon-button.ytmusic-player-bar {
  border-radius: 50%;
  transition: background var(--fade-duration) var(--fade-timing);
}

.yt-spec-button-shape-next {
  transition: background var(--fade-duration) var(--fade-timing);
}

tp-yt-paper-item.ytmusic-playback-rate-popup-renderer {
  transition: background var(--fade-duration) var(--fade-timing);
}

/* PLAYER PAGE */
.av.ytmusic-player-page {
  transition: opacity var(--fade-duration) var(--fade-timing);
}

.song-media-controls.ytmusic-player {
  transition: opacity var(--fade-duration) var(--fade-timing);
}

tp-yt-paper-tab.ytmusic-player-page {
  transition: color var(--fade-duration) var(--fade-timing);
}

/* QUEUE */
ytmusic-player-queue-item {
  transition:
    background var(--fade-duration-alt) var(--fade-timing),
    opacity var(--fade-duration-alt) var(--fade-timing);
}

ytmusic-player-queue-item > yt-formatted-string {
  display: block !important;
  transition: opacity var(--fade-duration) var(--fade-timing);
}

ytmusic-player-queue-item:not([is-automix]):hover > yt-formatted-string {
  opacity: 0;
  pointer-events: none;
}

/* 3 Dots In Queue */
ytmusic-player-queue-item yt-button-shape {
  transform: translatex(36px);
  opacity: 1;
  transition: opacity var(--fade-duration-alt) var(--fade-timing);
}

/* DROPDOWN */
ytmusic-dropdown-item-renderer {
  transition: background var(--fade-duration) var(--fade-timing);
}

ytmusic-playlist-add-to-option-renderer {
  transition: background var(--fade-duration) var(--fade-timing);
}

.ytmusic-menu-popup-renderer {
  transition: background var(--fade-duration) var(--fade-timing);
}

ytd-compact-link-renderer {
  transition: background var(--fade-duration) var(--fade-timing);
}

ytd-account-item-renderer {
  transition: background var(--fade-duration) var(--fade-timing);
}

/* "Recently Played" Button */
ytmusic-multi-select-menu-item-renderer {
  transition: background var(--fade-duration) var(--fade-timing);
}

/* BUTTONS */
ytmusic-chip-cloud-chip-renderer a {
  transition: background var(--fade-duration) var(--fade-timing);
}

ytmusic-subscribe-button-renderer {
  transition: background var(--fade-duration) var(--fade-timing);
}

ytmusic-play-button-renderer {
  transition:
    background var(--fade-duration) var(--fade-timing),
    opacity var(--fade-duration) var(--fade-timing);
}

button.ytmusic-navigation-button-renderer {
  transition: background var(--fade-duration) var(--fade-timing);
}

/* SETTING */
.category-menu-item.ytmusic-settings-page {
  transition: background var(--fade-duration) var(--fade-timing);
}

/* Carousel Buttons */
yt-icon-button.ytmusic-carousel-shelf-renderer,
.ytSpecButtonShapeNextMono.ytSpecButtonShapeNextOutline {
  transition: background var(--fade-duration) var(--fade-timing) !important;
}

/* No idea */
.yt-list-item-view-model__container--tappable {
  transition: background var(--fade-duration) var(--fade-timing);
}
.yt-simple-endpoint {
  transition: background var(--fade-duration) var(--fade-timing);
}

#play-button .content-wrapper.ytmusic-play-button-renderer {
  transition:
    opacity var(--fade-duration) var(--fade-timing),
    background var(--fade-duration) var(--fade-timing),
    transform var(--play-button-duration) var(--play-button-timing);
}
#play-button .content-wrapper.ytmusic-play-button-renderer:hover {
  transform: scale(1.2);
}

.play-pause-button-wrapper.ytmusic-player-controls {
  will-change: transform;
  transition: transform var(--play-button-duration) var(--play-button-timing);
}
.play-pause-button-wrapper.ytmusic-player-controls:hover {
  transform: scale(1.4);
}

.next-button.ytmusic-player-controls,
.previous-button.ytmusic-player-controls,
.shuffle.ytmusic-player-controls,
.repeat.ytmusic-player-controls {
  will-change: transform;
  transition: transform var(--play-button-duration) var(--play-button-timing);
}
.next-button.ytmusic-player-controls:hover,
.previous-button.ytmusic-player-controls:hover,
.shuffle.ytmusic-player-controls:hover,
.repeat.ytmusic-player-controls:hover {
  transform: scale(1.2);
}

ytmusic-search-box .ytmusic-search-box::placeholder {
  transition: color var(--search-bar-duration) var(--search-bar-timing);
}

ytmusic-search-box .search-container.ytmusic-search-box {
  transition: box-shadow var(--search-bar-duration) var(--search-bar-timing);
}

ytmusic-search-box #suggestion-list {
  transition: var(--search-bar-duration) var(--search-bar-timing);
}

ytmusic-search-suggestion {
  transition: background var(--search-bar-duration) var(--search-bar-timing);
}

#content-wrapper.ytmusic-browse-response {
  transition: margin var(--silding-duration) var(--sliding-timing);
}

ytmusic-search-page {
  transition: padding var(--silding-duration) var(--sliding-timing);
}

ytmusic-nav-bar[is-bauhaus-sidenav-enabled] .center-content.ytmusic-nav-bar {
  transition:
    padding var(--silding-duration) var(--sliding-timing),
    margin var(--silding-duration) var(--sliding-timing);
}

#contentContainer.tp-yt-app-drawer {
  width: 256px !important;
  transition: transform var(--silding-duration) var(--sliding-timing);
  transition-duration: var(--silding-duration) !important;
}

#guide-wrapper {
  transition: width var(--silding-duration) var(--sliding-timing);
}

tp-yt-app-drawer {
  transition-duration: var(--silding-duration) !important;
}

ytmusic-app-layout:not([is-mweb-modernization-enabled]) #mini-guide {
  display: unset !important;
  opacity: 0;
  transition: opacity var(--silding-duration) var(--sliding-timing);
}

ytmusic-app[is-guide-persistent][guide-collapsed] #mini-guide {
  opacity: 1;
  transition: opacity var(--silding-duration) var(--sliding-timing);
}

#layout[player-fullscreened] #mini-guide {
  display: none !important;
}

ytmusic-immersive-header-renderer .gradient-container,
ytmusic-visual-header-renderer .content-container {
  transition: padding var(--silding-duration) var(--sliding-timing);
}

#player-page.ytmusic-app {
  transition:
    transform var(--player-page-duration) var(--player-page-timing),
    padding var(--silding-duration) var(--sliding-timing),
    height var(--silding-duration) var(--sliding-timing) !important;
}

.toggle-player-page-button {
  transition:
    background var(--fade-duration) var(--fade-timing),
    transform var(--player-page-duration) var(--player-page-timing) !important;
}

#primaryProgress.tp-yt-paper-progress,
#secondaryProgress.tp-yt-paper-progress {
  transition: transform 1s linear;
}

ytmusic-app-layout[is-mweb-modernization-enabled][player-ui-state='PLAYER_PAGE_OPEN']
  .slider-knob.tp-yt-paper-slider,
ytmusic-app-layout:not([is-mweb-modernization-enabled])
  .slider-knob.tp-yt-paper-slider:not(.dragging) {
  transition: left 1s linear;
}

ytmusic-immersive-header-renderer .description {
  transition: max-height 0.65s ease-in-out !important;
  -webkit-line-clamp: unset !important;
}

ytmusic-immersive-header-renderer .image {
  transition: filter 0.5s ease;
}
