/* ========================== BACKGROUND ========================== */
#browse-page::before,
#search-page::before {
  content: '';
  position: fixed;
  inset: 0;
  height: 120vh;
  background: color-mix(
    in srgb,
    rgba(3, 3, 3) calc(100% - var(--ytmusic-album-color-ratio, 50%)),
    rgba(var(--ytmusic-album-color-dark), 1)
      var(--ytmusic-album-color-ratio, 50%)
  ) !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(var(--bg-scale));
  z-index: -50;
  filter: blur(var(--bg-blur)) saturate(var(--bg-saturate))
    brightness(var(--bg-brightness));
}

#browse-page::before,
#search-page::before,
ytmusic-player-page::before,
ytmusic-player-page[is-mweb-modernization-enabled] #main-panel::before {
  transition: background var(--bg-duration) var(--bg-timing);
  will-change: background;
}

/* Background Fix */
.background-gradient {
  background: none !important;
}
ytmusic-fullbleed-thumbnail-renderer[is-background] .image {
  mask-image: linear-gradient(transparent);
}

@media (min-width: 615px) {
  ytmusic-player-page {
    background: none;
  }
  ytmusic-player-page::before {
    content: '';
    position: fixed;
    inset: 0;
    background: var(--ytmusic-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(var(--bg-blur)) saturate(var(--bg-saturate))
      brightness(var(--bg-brightness));
    transform: scale(var(--bg-scale));
    opacity: var(--player-page-opacity);
    z-index: -50;
  }
}

/* Transparent Player Page */
ytmusic-player-page:not([is-mweb-modernization-enabled]) {
  background: none !important;
  backdrop-filter: blur(15px);
}
ytmusic-app-layout[player-page-open]:not([is-mweb-modernization-enabled])
  > #content {
  visibility: visible !important;
}
ytmusic-app-layout[player-fullscreened] > [slot='content'] {
  display: block !important;
}
