ytmusic-player[player-ui-state='FULLSCREEN'].ytmusic-player-page {
  position: relative;
  top: unset;
  width: unset;
  height: unset;
  max-width: 500px;
}
ytmusic-player[player-ui-state='FULLSCREEN'][video-mode].ytmusic-player-page {
  max-width: 800px;
}
ytmusic-player-page[player-ui-state='FULLSCREEN'] {
  #side-panel {
    interactivity: unset !important;
  }
  tp-yt-paper-tabs.ytmusic-player-page {
    border-bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    will-change: opacity;
    &:hover {
      opacity: 1;
    }
  }
}
