ytmusic-player[player-ui-state='FULLSCREEN'].ytmusic-player-page {
  position: relative;
  top: unset;
  width: unset;
  height: unset;
  max-width: 500px;
}
ytmusic-player[player-ui-state='FULLSCREEN'][video-mode].ytmusic-player-page {
  max-width: 800px;
}
ytmusic-player-page[player-ui-state='FULLSCREEN'] {
  #side-panel {
    interactivity: unset !important;
  }
  tp-yt-paper-tabs.ytmusic-player-page {
    border-bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    will-change: opacity;
    &:hover {
      opacity: 1;
    }
  }
}

ytmusic-player-page[player-ui-state='FULLSCREEN']:not([player-page-open])
  #player.ytmusic-player-page {
  display: none;
}

/* Hide lyrics tab if no lyrics  */
ytmusic-player-page[player-ui-state='FULLSCREEN']
  .synced-lyrics-vlist:has(yt-icon[icon='yt-icons:warning']) {
  opacity: 0;
  transition: opacity 0.5s ease;
  transition-delay: 2s;
}

/* misalign play button fix */
ytmusic-player-bar[player-fullscreened]
  #play-pause-button
  > .yt-icon-button
  > yt-icon {
  width: 32px;
  height: 32px;
}
