/* ========================== MOBILE VIEW ========================== */
ytmusic-player-page[is-mweb-modernization-enabled] #main-panel::before {
  content: '';
  position: fixed;
  inset: 0 !important;
  height: 120vh !important;
  background: var(--background) center / cover no-repeat !important;
  filter: blur(var(--bg-blur)) saturate(var(--bg-saturate))
    brightness(var(--bg-brightness)) !important;
  z-index: -50;
}

ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state]
  #side-panel.ytmusic-player-page {
  height: 100vh;
  background: transparent !important;
}

ytmusic-player-page[is-mweb-modernization-enabled]:not([player-fullscreened])
  #player.ytmusic-player-page {
  max-height: unset !important;
}

ytmusic-player-page #top-player-bar {
  background: transparent;
  z-index: 1;
  backdrop-filter: none;
}

/* Overlay Over Lyrics Background */
@media (max-width: 615px) {
  #tab-renderer {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  }
}

.play-pause-button-wrapper.ytmusic-player-controls {
  color: transparent !important;
  background: transparent !important;
  transform: scale(1.2);
}

.next-button.ytmusic-player-controls,
.previous-button.ytmusic-player-controls,
.shuffle.ytmusic-player-controls,
.repeat.ytmusic-player-controls {
  color: transparent;
  background: transparent !important;
}

tp-yt-paper-slider#progress-bar.ytmusic-player-controls {
  --paper-slider-knob-start-color: var(--accent);
  --paper-slider-knob-start-border-color: var(--accent);
  --paper-slider-knob-color: var(--accent);
  --paper-slider-active-color: var(--accent);
}

.current-time.ytmusic-player-controls,
.total-time.ytmusic-player-controls {
  color: var(--text-color-2) !important;
}

/* Lyrics Tab Opening Transition */
ytmusic-player-page[is-mweb-modernization-enabled] #main-panel {
  transform: none !important;
}

ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state='TABS_VIEW'] {
  .av,
  #info-panel,
  #player-controls,
  .collapse-button,
  .context-menu-button {
    opacity: 0;
  }
}

ytmusic-player-page[player-page-ui-state='TABS_VIEW'] #thumbnail > img {
  border-radius: calc(var(--radius-art) * 10);
}

ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state='TABS_VIEW']
  #music-player-wrapper {
  transform: translateY(6.5rem);
}

.stroke.yt-interaction,
.fill.yt-interaction {
  border: 0 !important;
  background: transparent !important;
}
