/* ========================== PANELS & MISC ========================== */
/* New Playlist Panel */
ytmusic-playlist-form {
  background: transparent !important;
  .yt-icon-shape {
    color: var(--icon);
  }
}

.label.ytmusic-dropdown-item-renderer {
  color: var(--text-primary) !important;
}

tp-yt-iron-input.tp-yt-paper-input > input.tp-yt-paper-input {
  color: var(--text-primary) !important;
}

.ytListItemViewModelTitle {
  color: var(--text-primary) !important;
}

ytmusic-dialog {
  box-shadow: var(--ui-shadow) !important;
  background: var(--ui-color) !important;
  backdrop-filter: blur(var(--ui-blur));
  border: var(--ui-border) !important;
  border-radius: var(--radius-panel-lg) !important;
}

/* Underline */
.unfocused-line.tp-yt-paper-input-container {
  border-color: rgba(255, 255, 255, 0.4) !important;
}

.focused-line.tp-yt-paper-input-container {
  border-color: var(--accent) !important;
}

/* Toogle Button */
.ytSwitchShapeTrack {
  background: var(--btn-color) !important;
}

.ytSwitchShapeKnob {
  background: rgba(255, 255, 255, 0.3) !important;
}

.ytSwitchShapeKnobActive {
  background: var(--accent) !important;
}

/* Playlist Visibility Dropdown */
.dropdown-content.tp-yt-paper-menu-button {
  --yt-spec-brand-background-primary: transparent;
  background: var(--ui-color) !important;
  box-shadow: var(--ui-shadow) I !important;
  backdrop-filter: blur(var(--ui-blur));
  border-radius: var(--radius-panel-lg) !important;
}

.description.ytmusic-dropdown-item-renderer {
  font-size: var(--ytmusic-responsive-font-size);
}

.ytmusic-playlist-form .dropdown-content.tp-yt-paper-menu-button {
  left: 12rem;
}

.dropdown-content.ytmusic-dropdown-renderer {
  background: transparent;
  backdrop-filter: blur(var(--ui-blur));
}

ytmusic-dropdown-item-renderer {
  background: transparent !important;
  border-radius: var(--radius-highlight);
  &:hover,
  &:focus {
    background: var(--ui-highlight) !important;
  }
}

/* Item Pressed */
tp-yt-paper-item.ytmusic-dropdown-item-renderer:focus::before {
  background: transparent;
}

tp-yt-iron-icon.tp-yt-paper-dropdown-menu {
  color: var(--icon) !important;
}

/* Add to Playlist */
tp-yt-paper-dialog[modern].ytmusic-popup-container,
ytmusic-add-to-playlist-renderer.ytmusic-popup-container {
  --yt-spec-brand-background-primary: transparent;
  background: var(--ui-color);
  backdrop-filter: blur(var(--ui-blur));
  box-shadow: var(--ui-shadow);
  border-radius: var(--radius-panel-lg);
  border: var(--ui-border);
}

/* Divider */
.top-bar.ytmusic-add-to-playlist-renderer,
ytmusic-carousel-shelf-renderer.ytmusic-add-to-playlist-renderer:not(:empty) {
  border-bottom: 0 !important;
}

/* Add to Option */
ytmusic-playlist-add-to-option-renderer {
  border-radius: var(--radius-highlight-lg);
  .yt-icon-shape {
    color: var(--accent-icon);
  }
}

button.ytSpecButtonShapeNextMono.ytSpecButtonShapeNextFilled {
  color: var(--text-primary);
  background: var(--btn-color);
  &:hover {
    background: var(--btn-highlight);
  }
}

#title.ytmusic-playlist-add-to-option-renderer {
  color: var(--text-primary) !important;
}

ytmusic-thumbnail-renderer.thumbnail.ytmusic-playlist-add-to-option-renderer {
  border-radius: var(--radius-art);
}
.section-heading.ytmusic-add-to-playlist-renderer {
  color: var(--text-primary) !important;
}
.subtitle.ytmusic-two-row-item-renderer {
  color: var(--text-secondary) !important;
}
/* 3 Dot Menu */
tp-yt-iron-dropdown.ytmusic-popup-container {
  background: var(--ui-color);
  backdrop-filter: blur(var(--ui-blur));
  border-radius: var(--radius-panel-lg);
  box-shadow: var(--ui-shadow);
  border: var(--ui-border);
  overflow: hidden;
}

ytmusic-menu-popup-renderer tp-yt-paper-listbox.ytmusic-menu-popup-renderer {
  --paper-listbox-background-color: transparent;
  border: 0;
}

tp-yt-paper-listbox#items yt-formatted-string {
  color: var(--text-primary);
}

.ytmusic-menu-popup-renderer {
  border-radius: var(--radius-highlight);
  overflow: hidden;
  --ytmusic-menu-item-hover-background-color: var(--ui-highlight);
}

/* User Dropdown */
ytmusic-multi-page-menu-renderer.ytmusicMultiPageMenuRendererHost {
  --yt-sys-color-baseline--call-to-action: var(--accent);
  --yt-endpoint-hover-color: var(--accent-highlight);
  --yt-sys-color-baseline--outline: transparent;
  background: transparent;
}

ytd-simple-menu-header-renderer {
  background: transparent !important;
}

ytd-compact-link-renderer {
  --yt-compact-link-icon-color: var(--icon);
  border-radius: var(--radius-highlight);
  &:hover {
    background: var(--ui-highlight) !important;
  }
}

tp-yt-paper-item:focus:before {
  border-radius: var(--radius-highlight);
}

ytd-account-item-renderer {
  --yt-spec-text-primary: var(--accent);
  border-radius: var(--radius-highlight-lg);
}

#email.ytd-google-account-header-renderer {
  color: var(--text-secondary);
}

yt-formatted-string.ytd-account-item-renderer[secondary] {
  color: var(--text-secondary);
}

/* "Recently Played" Button */
ytmusic-sort-filter-button-renderer button.ytmusic-sort-filter-button-renderer {
  color: var(--text-primary);
  border: var(--btn-border);
  border-radius: var(--radius-btn-alt);
  background: var(--btn-color);
}

ytmusic-multi-select-menu-item-renderer {
  border-radius: var(--radius-highlight);
  &:hover {
    background: var(--ui-highlight);
  }
}
#container.ytmusic-multi-select-menu-renderer {
  background: transparent !important;
  border: 0 !important;
}
#items.ytmusic-multi-select-menu-renderer {
  background: transparent !important;
}
#title.ytmusic-multi-select-menu-renderer {
  border: 0 !important;
}
h1 .text.ytmusic-menu-title-renderer {
  color: var(--text-primary);
}
ytmusic-background-promo-renderer {
  background: transparent !important;
  .yt-icon-shape {
    color: var(--icon);
  }
}

/* Popup Message */
tp-yt-paper-toast,
tp-yt-paper-toast.yt-notification-action-renderer,
#toast.ytmusic-notification-text-renderer {
  background: var(--ui-color) !important;
  border-radius: var(--radius-panel) !important;
  border: var(--ui-border) !important;
  box-shadow: var(--ui-shadow) !important;
  backdrop-filter: blur(var(--ui-blur)) !important;
}

#text.yt-notification-action-renderer,
#sub-text.yt-notification-action-renderer {
  color: var(--text-primary) !important;
}

.ytSpecButtonShapeNextCallToActionInverse.ytSpecButtonShapeNextText {
  color: var(--accent) !important;
  &:hover {
    background: var(--btn-highlight) !important;
  }
}

/* Share Container */
#start-at-wrapper {
  --paper-input-container-disabled-opacity: 0.65 !important;
}

#bar.yt-copy-link-renderer {
  background: var(--ui-contrast) !important;
  border: var(--ui-border) !important;
}

#checkbox.tp-yt-paper-checkbox {
  border-color: var(--btn-color) !important;
  background: var(--btn-color) !important;
  --paper-checkbox-checked-color: var(--btn-color) !important;
}

#checkmark.tp-yt-paper-checkbox {
  border-color: var(--icon) !important;
}

button.ytSpecButtonShapeNextCallToAction.ytSpecButtonShapeNextFilled {
  color: var(--accent);
  background: var(--btn-color);
  border-radius: var(--radius-btn-alt);
  &:hover {
    background: var(--btn-highlight);
  }
}

yt-icon-button.scroll-button.yt-third-party-share-target-section-renderer {
  background: var(--btn-color);
  backdrop-filter: blur(var(--ui-blur));
  box-shadow: none;
  .yt-icon-shape {
    color: var(--icon);
  }
}

yt-formatted-string.yt-start-at-renderer {
  color: var(--text-secondary);
}

/* Explore Page */
ytmusic-navigation-button-renderer.ytmusic-grid-renderer
  button.ytmusic-navigation-button-renderer {
  background: var(--btn-color);
  border-radius: var(--radius-btn-alt);
  &:focus-within,
  &:hover {
    background: var(--btn-highlight);
  }
  .yt-icon-shape {
    color: var(--icon);
  }
}

ytmusic-navigation-button-renderer.ytmusic-carousel
  button.ytmusic-navigation-button-renderer {
  background: var(--btn-color);
  border-radius: var(--radius-btn);
  &:focus-within,
  &:hover {
    background: var(--btn-highlight);
  }
}

tp-yt-paper-listbox.yt-dropdown-menu {
  background: transparent !important;
}
tp-yt-paper-listbox.yt-dropdown-menu .iron-selected.yt-dropdown-menu,
tp-yt-paper-listbox.yt-dropdown-menu tp-yt-paper-item.yt-dropdown-menu:hover {
  background: var(--ui-highlight);
  border-radius: var(--radius-highlight);
}

yt-card-item-container-renderer {
  border: 0 !important;
}
