ytmusic-app-layout[player-fullscreened] > [slot='player-page'] {
  padding: var(--ytmusic-nav-bar-height) 0 0;
}

/* Player Page Background Re-position */
ytmusic-app-layout[player-fullscreened]:not([is-mweb-modernization-enabled])
  > [slot='player-page'] {
  position: fixed;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  box-sizing: border-box;
}

ytmusic-player[player-ui-state='FULLSCREEN'].ytmusic-player-page {
  position: relative;
  top: unset;
  width: unset;
  height: unset;
  max-width: 450px;
}
ytmusic-player[player-ui-state='FULLSCREEN'][video-mode].ytmusic-player-page {
  max-width: 800px;
}
ytmusic-player-page[player-ui-state='FULLSCREEN'] {
  #side-panel {
    interactivity: unset !important;
  }
  tp-yt-paper-tabs.ytmusic-player-page {
    border-bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    will-change: opacity;
    &:hover {
      opacity: 1;
    }
  }
}

ytmusic-player-page[player-ui-state='FULLSCREEN']:not([player-page-open])
  #player.ytmusic-player-page {
  display: none;
}

/* Hide lyrics tab if no lyrics  */
ytmusic-player-page[player-ui-state='FULLSCREEN']
  .synced-lyrics-vlist:has(yt-icon[icon='yt-icons:warning']) {
  opacity: 0;
  transition: opacity 0.5s ease;
  transition-delay: 2s;
}

/* misalign play button fix */
ytmusic-player-bar[player-fullscreened]
  #play-pause-button
  > .yt-icon-button
  > yt-icon {
  width: 32px;
  height: 32px;
}

ytmusic-player-page[player-fullscreened] .content.ytmusic-player-page {
  padding-top: var(--ytmusic-player-page-horizontal-padding) !important;
  padding-bottom: var(--ytmusic-player-page-horizontal-padding) !important;
}
ytmusic-player-page[player-fullscreened] #main-panel {
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-end !important;
  transform: none !important;
  padding: 0 !important;
}

ytmusic-player-page[player-fullscreened] #player {
  margin: 0 !important;
}
ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened]
  #side-panel {
  width: 40% !important;
  min-width: unset !important;
}

/* Video Mode */
ytmusic-player-page:not(
    [is-mweb-modernization-enabled]
  )[player-fullscreened][video-mode]
  .content.ytmusic-player-page {
  padding: var(--ytmusic-player-page-horizontal-padding) !important;
}

ytmusic-player-page:not(
    [is-mweb-modernization-enabled]
  )[player-fullscreened][video-mode]
  #player.ytmusic-player-page {
  max-width: 70% !important;
  margin: 0;
}
ytmusic-player[player-ui-state='FULLSCREEN'] {
  position: relative !important;
}
ytmusic-player-page:not([is-mweb-modernization-enabled])[video-mode]
  .side-panel.ytmusic-player-page {
  margin: 0 0 0 var(--ytmusic-player-page-content-gap);
}
ytmusic-player-page[player-fullscreened][has-av-switcher]
  #player.ytmusic-player-page {
  flex: 1 !important;
}
