/* 

Theme: Dynamic Background 
Version: 3.1.0 
GitHub: https://github.com/chengggit/YouTube-Music-Dynamic-Theme 

*/

/* ==================== README ======================= 

This configuration section allows users to customize the theme without 
needing deep CSS knowledge. Please follow these guidelines:

- SYNTAX: Ensure every variable value ends with a semicolon (;) to 
  prevent the theme from breaking.

- TOGGLES: to turn a feature ON, remove the comment tags /* */
/* Add them back to turn a feature OFF.

- FONTS: Ensure the font is installed on your system. You can list 
  multiple fonts in quotes ("") separated by commas (,) for multi-language 
  support or fallbacks.

- ANIMATIONS: To disable any animation, set its duration variable to 0s.

- STATIC BACKGROUND: To use a solid color, set --cfg-background to any 
  color value (hex, rgb, hsl).

- CUSTOM IMAGE: To use an image, set --cfg-background to a URL.
  EXAMPLE: --cfg-background: url("your-image-link.jpg");

* REQUIREMENTS:
Turn on the "Album Color Theme" plugin for the dynamic background to work.
For proper functionality, the variable below should be the default value:

--cfg-background: color-mix( 
  in srgb, 
  rgba(3, 3, 3) calc(100% - var(--ytmusic-album-color-ratio, 50%)), 
  rgba(var(--ytmusic-album-color-dark), 1) 
    var(--ytmusic-album-color-ratio, 50%) 
);

=================================================== */
