/* ========================== TEXT & ICONS ========================== */
yt-formatted-string.title {
  color: var(--text-color-1) !important;
  --yt-endpoint-color: var(--text-color-1) !important;
  --yt-endpoint-hover-color: var(--text-color-1) !important;
  --yt-endpoint-visited-color: var(--text-color-1) !important;
}

yt-icon .yt-icon-shape {
  color: var(--icon);
}

yt-icon.ytmusic-inline-badge-renderer {
  color: var(--accent-icon);
}

/* Icons in explore top songs  */
.icon-column.ytmusic-custom-index-column-renderer .yt-icon-shape {
  color: var(--icon);
}

.icon.ytmusic-play-button-renderer {
  --ytmusic-play-button-guide-icon-color: var(--icon);
  color: var(--icon);
}

/* CTA */
.title.ytmusic-carousel-shelf-basic-header-renderer a {
  font-weight: 700;
}
a.yt-simple-endpoint.yt-formatted-string {
  --yt-spec-call-to-action: var(--accent);
  --yt-endpoint-hover-color: var(--accent-hover);
  &:hover {
    text-decoration: underline;
  }
}

/* Like Dislike 3 Dots */
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text {
  color: var(--icon);
}

.index.ytmusic-responsive-list-item-renderer {
  color: var(--text-color-2);
}

/* Like buttons pressed */
.yt-spec-button-shape-next[aria-pressed='true'] {
  color: var(--accent-icon) !important;
}

tp-yt-paper-ripple.tp-yt-paper-tab {
  color: transparent;
}

.stroke.yt-interaction,
.fill.yt-interaction {
  border: 0;
  background: transparent;
}
